# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\learning\Java2\gb.java3.lesson1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
